name: Release Danger-Swift package

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - uses: olegtarasov/get-tag@v2
    
    - name: Docker Login
      run: echo $PACKAGES_WRITE_TOKEN | docker login docker.pkg.github.com -u USERNAME -password-stdin
      env:
        PACKAGES_WRITE_TOKEN: ${{ secrets.PACKAGES_WRITE_TOKEN }}
        USERNAME: ${{ secrets.USERNAME }}
    - name: Docker Build
      run: docker build -t docker.pkg.github.com/$USERNAME/danger-swift-swiftlint-action/danger-swift:$GIT_TAG_NAME
      env:
        USERNAME: ${{ secrets.USERNAME }}
    - name: Deploy
      run: docker push docker.pkg.github.com/$USERNAME/danger-swift-swiftlint-action/danger-swift:$GIT_TAG_NAME
      env:
        USERNAME: ${{ secrets.USERNAME }}
